
//-------------------------------------------------
// Buttons mixin
//-------------------------------------------------

// Button variants
@mixin button-variant($btn-name,$color, $background, $border) {
	#{$btn-name} {
		color: $color;
		background-color: $background;
		border-color: $border;

		&:focus,
		&.focus {
			color: $color;
			background-color: darken($background, 10%);
			border-color: darken($border, 10%);
		}
		&:hover {
			color: $color;
			background-color: darken($background, 10%);
			border-color: darken($border, 10%);
		}
		&:active,
		&.active {
			color: $color;
			background-color: darken($background, 10%);
			border-color: darken($border, 10%);
			&:hover,
			&:focus,
			&.focus {
				color: $color;
				background-color: darken($background, 17%);
				border-color: darken($border, 17%);
			}
		}

		&[disabled],
		&.btn--disabled,
		&.disabled,
		&:disabled,
		fieldset[disabled] & {
			opacity: 0.4;
			cursor: default;
			box-shadow: none !important;
			&:focus,
			&.focus,
			&:hover,
			&.hover,
			&:active,
			&.active {
				color: $color !important;
				background-color: $background !important;
				border-color: $border !important;
			}
		}

		&.btn--inverse {
			color:  $background;
			background-color: $color;
			border-color: $border;
			&:focus,
			&.focus {
				color: $color;
				background-color: darken($background, 10%);
				border-color: darken($border, 10%);
			}
			&:hover {
				color: $color;
				background-color: $background;
				border-color: $border;
			}
			&:active,
			&.active {
				color: $color;
				background-color: darken($background, 10%);
				border-color: darken($border, 10%);
				&:hover,
				&:focus,
				&.focus {
					color: $color;
					background-color: darken($background, 17%);
					border-color: darken($border, 17%);
				}
			}

			&[disabled],
			&.btn--disabled,
			&.disabled,
			&:disabled,
			fieldset[disabled] & {
				opacity: 0.4;
				cursor: default;
				box-shadow: none !important;
				&:focus,
				&.focus,
				&:hover,
				&.hover,
				&:active,
				&.active {
					color:  $background !important;
					background-color: $color !important;
					border-color: $border !important;
				}
			}
		}
	}

}

// Button sizes
@mixin btn-size($button-height, $padding-horizontal, $font-size, $line-height, $border-radius) {
	padding:0 $padding-horizontal;
	height: $button-height;
	font-size: $font-size;
	line-height: $line-height - ($btn-border * 2);
	border-radius: $border-radius;
}
// Button floating sizes
@mixin btn-floating-size($btn-floating-size, $btn-floating-font-size) {
	width: $btn-floating-size;
	max-width: $btn-floating-size;
	height: $btn-floating-size;
	line-height: $btn-floating-size;
	font-size: $btn-floating-font-size;
	i,
	.icon {
		width: $btn-floating-size - ($btn-floating-border * 2);
	}
}
//-------------------------------------------------
// Buttons mixin END
//-------------------------------------------------




// --------------------------------------------------
// Buttons Styles
// --------------------------------------------------

.btn {
    position: relative;
    z-index: 1;
    display: inline-block;
    height: $btn-height;
	padding: $btn-padding;
	line-height: $btn-height - ($btn-border * 2);
    font-weight: $btn-font-weight;
    text-align: center;
    vertical-align: middle;
    border: $btn-border solid transparent;
    border-radius: $btn-border-radius;
	background-color: transparent;
    white-space: nowrap;
    cursor: pointer;
    outline: none !important;
    touch-action: manipulation;
    transition: all .3s ease-in-out;

	// Button Sizes
	// --------------------------------------------------
	&--lg {
		@include btn-size($btn-lg-button-height, $btn-lg-padding-horizontal, $btn-lg-font-size, $btn-lg-line-height, $btn-lg-border-radius);
	}
	&--sm {
		@include btn-size($btn-sm-button-height, $btn-sm-padding-horizontal, $btn-sm-font-size, $btn-sm-line-height, $btn-sm-border-radius);
	}
	&--xs {
		@include btn-size($btn-xs-button-height, $btn-xs-padding-horizontal, $btn-xs-font-size, $btn-xs-line-height, $btn-xs-border-radius);
	}

	//floating button
	&-floating {
		position: relative;
		z-index: 1;
		display: inline-block;
		width: $btn-floating-size;
		max-width: $btn-floating-size;
		height: $btn-floating-size;
		padding: 0;
		overflow: hidden;
		font-size: $btn-floating-font-size;
		color: $btn-default-color;
		line-height: $btn-floating-size - ($btn-floating-border * 2);
		background-color: transparent;
		border: $btn-floating-border solid transparent;
		border-radius: $btn-floating-size;
		cursor: pointer;
		outline: none !important;
		vertical-align: middle;
		transition: 0.3s;

		i,
		.icon {
			width: $btn-floating-size - ($btn-floating-border * 2);
			display: inline-block;
			text-align: center;
			color: $btn-default-color;
			font-size: inherit;
			line-height: inherit;
		}

		&.btn {
			&--lg {
				@include btn-floating-size($btn-floating-lg-size, $btn-floating-lg-font-size);
			}
			&--sm {
				@include btn-floating-size($btn-floating-sm-size, $btn-floating-sm-font-size);
			}
			&--xs {
				@include btn-floating-size($btn-floating-xs-size, $btn-floating-xs-font-size);
			}
		}
	}

}




// Btn Icon styles
.btn,
.btn-floating {
	i,
	.icon {
		font-size: inherit;
		line-height: inherit;
		color: inherit;
		&.icon--left {
			margin-right: 0.5em;
		}
		&.icon--right {
			margin-left: 0.5em;
		}
	}
}


// Button colors
// --------------------------------------------------
@include button-variant('.btn--default',$btn-default-color, $btn-default-bg, $btn-default-border);
@include button-variant('.btn--primary',$btn-primary-color, $btn-primary-bg, $btn-primary-border);
@include button-variant('.btn--success',$btn-success-color, $btn-success-bg, $btn-success-border);
@include button-variant('.btn--info',$btn-info-color, $btn-info-bg, $btn-info-border);
@include button-variant('.btn--warning',$btn-warning-color, $btn-warning-bg, $btn-warning-border);
@include button-variant('.btn--danger',$btn-danger-color, $btn-danger-bg, $btn-danger-border);



// Block button
// --------------------------------------------------
.btn--block {
	display: block;
	width: 100%;
}
// Vertically space out multiple block buttons
.btn--block + .btn--block {
	margin-top: 5px;
}


// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
	&.btn--block {
		width: 100%;
	}
}

// group buttons
// --------------------------------------------------
.btn-group {
	display: flex;
	align-items: center;
	margin: 5px;
	.btn {
		width: 100%;
		margin: 0 ;
	}
	.btn--block {
		margin: 0 ;
	}
	&--inline {
		display: inline-flex;
		.btn {
			width: auto;
		}
	}
}


