
// global
// --------------------------------------------------
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

// Links
a {
	color: $link-color;
	text-decoration: none;
	&:hover,
	&:focus,
	&:active {
		outline: none !important;
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}
}

// Horizontal rules
hr {
	margin-top:    $line-height-computed;
	margin-bottom: $line-height-computed;
	border: 0;
	border-top: 1px solid $hr-border;
}



